html{
    /* background-image: url(../images/adventure-alpine-altitude-austria-355241\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}



*{
    /*color: red;
    /* color: rgb(0, 0, 0); 
    alpha channel controls how opaque the color is*/
    /* color: rgba(0, 0, 0, 0.4); */
    /*background: red;
    /*background: #ffffff*/

}

p{
    color: #5d5d5d;
}

table {
    width:100%;
    border-spacing: 0;
}

th{
    background-color: #4285f4;
    color: #fff;
}

th, td {
    
}
.column-1 {
    text-align: left;
}
.column-2 {
    text-align: right;
}

/* tr:hover{
    background-color: #f9f9f9;
} */

/* this is the descendant selecto. It refers to an element anywhere inside another element*/  
/* tr:hover td { */
    /* color: white;
    /* font-size: 28px; */
    /*font-size: 2.2em; multiply by current font size */
/* } */

/* to apply styles to more than one selector, list the selectors out seperated by commas*/
.odd-row, tr:hover {
    background-color: #f9f9f9;
}